<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.cntraveler.com/photos/5e14ee62a59b790008c7f107/16:9/w_2560%2Cc_limit/Surf-Air-Pilatus_1.jpg);" data-bs-interval="50" alt="private plane">
        <div class="container"><%= render "infos-banner" %></div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1474302770737-173ee21bab63?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1808&q=80);" data-bs-interval="50" alt="private jet">
        <div class="container"><%= render "infos-banner" %></div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1619985631958-d44cea12acfc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2778&q=80);" data-bs-interval="50" alt="private jet">
        <div class="container"><%= render "infos-banner" %></div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <%# <span class="carousel-control-prev-icon" aria-hidden="true"></span> %>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <%# <span class="carousel-control-next-icon" aria-hidden="true"></span> %>
    <span class="visually-hidden">Next</span>
  </button>
</div>
