<div class="banner-infos">
  <h1>Welcome to BlaBlaFlight !</h1>
  <p>Find your next private jet escape and travel around the world now</p>
  <%= link_to "Discover our flights now", flights_path, class: "btn btn-flat rounded-pill " %>
</div>
<%= simple_form_for :search, url: flights_path, method: :get do |f| %>
  <div class="search-form-control form-group mt-5 mb-3">
    <%= text_field_tag :query,
        params[:query],
        class: "form-control string required text-primary rounded-pill bg-light bg-gradient",
        placeholder: "  Find your next flight" %>
    <%= submit_tag "Search", class: "btn btn-flat rounded-pill" %>
  </div>
<% end %>
