  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.aopa.org/-/media/Images/AOPA-Main/News-and-Media/2017/October/Seven-Sensational-Sightseeing-Flights/1013_Seven_Sensational_Sightseeing_Flights1/1013_seven_sensational_sightseeing_flights1_16x9.jpg);">
    <div class="container">
      <h1>Welcome to BlaBlaFlight !</h1>
      <p>Find your next private jet escape and travel around the world now !</p>
      <%= link_to "See all flights", flights_path, class: "btn btn-flat" %>
    </div>
  </div>

<div class="container pt-3">
  <h1></h1>
  <p> </p>

  <%= simple_form_for :search, url: flights_path, method: :get do |f| %>
    <div class="search-form-control form-group mb-3">
      <%= text_field_tag :query,
          params[:query],
          class: "form-control string required",
          placeholder: "Find your next flight" %>
      <%= submit_tag "Search", class: "btn btn-flat" %>
      </button>
    </div>
  <% end %>

  <div class="cards">

  <a href="/flights?query=marseille&commit=Search" style="text-decoration: none;">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/4/40/Notre_Dame_de_la_Garde.jpg)">
      Marseille
    </div>
  </a>

  <a href="/flights?query=abu+dhabi&commit=Search" style="text-decoration: none;">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://a.travel-assets.com/findyours-php/viewfinder/images/res70/48000/48863-Dubai.jpg)">
      Abu Dhabi
    </div>
  </a>

  <a href="/flights?query=rodez&commit=Search" style="text-decoration: none;">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/b/b3/View_of_Rodez_14.jpg)">
      Rodez
    </div>
  </a>

</div>

</div>
